<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295584342085-44t6rb9lgtaulo3vs0tadroj38i5pe9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295584342085-44t6rb9lgtaulo3vs0tadroj38i5pe9n</string>
	<key>API_KEY</key>
	<string>AIzaSyD8u20BM2sBwg1p2_t57bUU2VrrC9px32c</string>
	<key>GCM_SENDER_ID</key>
	<string>295584342085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADF.PasswordKeeper</string>
	<key>PROJECT_ID</key>
	<string>password-keeper-18a41</string>
	<key>STORAGE_BUCKET</key>
	<string>password-keeper-18a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295584342085:ios:3a79c265a9827286e0c32c</string>
	<key>DATABASE_URL</key>
	<string>https://password-keeper-18a41.firebaseio.com</string>
</dict>
</plist>